<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/PPW3css.css' %}">

    <title>Manuel Yoseph Ray</title>
  </head>
  <body class="page-top2">
       
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand" href="#page-top"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a href="/" class="nav-link js-scroll-trigger" >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/experiences/" class="nav-link js-scroll-trigger" >Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/education/" class="nav-link js-scroll-trigger" >Education & Experience <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/contact/" class="nav-link js-scroll-trigger" >Contact <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/warning/" class="nav-link js-scroll-trigger" >Warning <span class="sr-only">(current)</span></a>
                </li>
                
              </ul>
            </div>
          </div>
          </nav>
          <section class="grid">
              <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6">
                    <ul>
                        <div class="container">
                        <img src="{% static 'foto/fotonuelunyu.jpg' %}" class="fotonuelunyu">
                      </div>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul>
                        <div class="biodata">
                            <div class="container">
                              <p class="nama">Manuel Yoseph Ray</p>
                              <p class="alamatdom">Bogor, Indonesia | Student</p>
                                  <li class="biodatalis"><pre>
Age           : 19<br>
Birthday      : June 15<br>
Sex           : Male<br>
Education     : University<br>
Address       : Bukit Waringin C.17/24
                Bojong Gede</pre>
                                  </li>
                        </div>
                      </div>
                    </ul>
                  </div>
              </div>
              </div>
          </section>
          
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <style>
.page-top2{
      background-image: url("{% static 'foto/bgexpfix.jpeg' %}");
      background-size: cover;
      height: fit-content;
      margin-top: 100px;
  }
.fotonuelunyu{
    margin-top: 100px;
    margin-left: 75px;
    width: 400px;
    float: left;

}
.biodata{
    position: relative;
    -webkit-text-fill-color: white;
    top: 100px;
    left: 50px;
    bottom: 10px;

}

.biodatalis{
    position: relative;
    margin: 0px 0px 0px;
    opacity: 0.7;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

.nama{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif
}

.alamatdom{
    margin-top: -30px;
    font-size: 30px;
    border: 2px;
    border-color: aliceblue
}

.grid ul{
    font-size: 30px;
    -webkit-text-fill-color: white;
    
}

.col-md-6 h1{
    -webkit-text-fill-color: white;
    text-align: center;
} 
       </style>
</html>